name = "nanjyoenglishapp"
main = "worker/index.ts"
compatibility_date = "2026-02-01"

assets = { directory = "./dist", binding = "ASSETS", not_found_handling = "single-page-application", run_worker_first = ["/api/*"] }

[[d1_databases]]
binding = "DB"
database_name = "nanjyo_lexicon"
database_id = "33254d1b-7650-4eb3-bff2-f44ffa4abc31"
migrations_dir = "migrations"
